#landing_page {
  .landing-page-block {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #cacaca;
    padding: 35px;
  }
}

#live_landing_page #landing_page .landing-page-block {
  margin-left: auto;
  max-width: 600px;
  margin-right: auto;
  margin-top: 120px;
}