// Shared SCSS

body {
  font-family: Lato, serif !important;
  font-weight: bold;
  background-color: #eff0f3 !important;
}

html, body {
  height: 100%;
  width: 100%;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.logo-image {
  height: 20px;
}

.font-size-12 {
  font-size: 12px;
  color: #676767;
}