// Shared SCSS

body {
  font-family: Lato, serif;
  font-weight: bold;
}

html, body {
  height: 100%;
  width: 100%;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.logo-image {
  height: 20px;
}