#surveys_index {
  .container {
    padding-top: 34px;
    color: #3c3c3c;

    .survey-container {
      width: 100%;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
      border: solid 1px #d9d9d9;
      padding: 23px 0 26px 35px;
      margin-bottom: 18px;

      p {
        font-weight: normal;
      }

      h3 {
        margin-top: 0;
      }

      .responses-count {
        color: #50b1e3;
        font-size: 18px;
        font-weight: bold;
      }

      .comments-count {
        color: #a362cf;
        font-size: 18px;
        font-weight: bold;
      }

      small {
        font-size: 12px;
        line-height: 0.8;
        color: #929292;
        font-weight: normal;
      }

    }

    .activity-container {
      width: 100%;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
      border: solid 1px #d9d9d9;
      margin-bottom: 18px;

      .activity-header {
        background-color: #50b1e3;
        color: white;
        font-size: 12px;
        font-weight: normal;
        padding: 8px 17px;
      }

      .activity-content {
        padding: 14px 14px;
      }

      hr {
        margin: 14px -10px;
      }
      p {
        font-weight: normal;
      }


    }

    .survey-container.blank {
      padding: 41px 0 49px 0;
    }

    .activity-container.blank {
      padding: 27px 0 48px 0;
    }

    h2 {
      color: #455a79;
      font-size: 20px;
      margin-bottom: 22px;
    }

    h3 {
      font-size: 20px;
    }

  }
  .btn {
    width: 199px;
    height: 44px;
    border-radius: 4px;
    background-color: #19cb7f;
    box-shadow: 0 2px 2px 0 rgba(98, 98, 98, 0.5);
    color: white;
    font-size: 16px;
    border: none;
    line-height: 28px;
    margin-top: 17px;
  }

}

#surveys_form {

  #newSurveyForm {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d9d9d9;
    padding: 22px 35px 22px 35px;
    margin-bottom: 101px;

    .nested-fields {
      .form-group {
        float: left;
      }
      i.fa-times {
        margin-top: 32px;
        margin-left: 10px;
        display: none;
      }
    }

    .nested-fields:hover i.fa-times {
      display: inline-block;
    }




    .form-group {
      width: 50%;
    }
    .survey_landing_page_comment_enabled {
      display: inline-block;
    }
    .form-group.survey_landing_page_comment_enabled label{
      margin-left: 20px;
      margin-top: 8px;

    }


  }

  .btn {
    width: 199px;
    height: 44px;
    border-radius: 4px;
    background-color: #19cb7f;
    box-shadow: 0 2px 2px 0 rgba(98, 98, 98, 0.5);
    color: white;
    font-size: 16px;
    border: none;
    line-height: 28px;
    margin-top: 17px;
  }
}

#surveys_create_success {
  .create-success-block {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d9d9d9;
    padding: 22px 0 42px 34px;
    margin-bottom: 101px;
  }

  h3 {
    color: #455a79;
  }
  .notification-block {
    height: 63px;
    border-radius: 2px;
    background-color: rgba(36, 203, 24, 0.08);
    border: solid 1px #9ec9a0;
    padding-top: 23px;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

#surveys_show {
  .results-block {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #d9d9d9;
    padding-top: 36px;
    padding-bottom: 84px;

    .aggregates-container {
      background-image: none;
      margin-left: 30%;
    }
    .responses-container {
      h4 {
        margin-top: 0;
      }
      
      .choice-percent-content {
        margin-bottom: 10px;
      }
      .choice-percent-charts {
        border-left: solid 1px #dbdbdb;
        border-bottom: solid 1px #dbdbdb;

        .choice-percent-chart {
          height: 15px;
        }
        .choice-percent-chart:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }

    .export-container {
      padding: 0 44px;

      table.table {
        margin-top: 19px;
        border: solid 1px #cbcbcb;
        border-radius: 2px;

        thead {
          background-color: #f2f2f2;
          font-weight: normal;
          font-size: 12px;
          color: #929292;
        }
      }
    }
    .square {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 8px;
    }
  }

}

.landing-page-block {
  .btn {
    width: 199px;
    height: 44px;
    border-radius: 4px;
    background-color: #19cb7f;
    box-shadow: 0 2px 2px 0 rgba(98, 98, 98, 0.5);
    color: white;
    font-size: 16px;
    border: none;
    line-height: 28px;
    margin-top: 17px;
  }
}


#survey_header {

  h4 {
    font-size: 20px;
    margin: 28px 0;
    color: #455a79;
  }

  .pull-right {
    margin-top: 22px;

    .btn-default {
      width: 129px;
      height: 35px;
      border-radius: 4px;
      border: solid 1px #cdcdcd;
      color: #949494;
      margin-left: 22px;
      background: transparent;
    }
    .btn-default.active {
      background-color: rgba(255, 255, 255, 0.49);
      border: solid 1px #50b3e3;
      color: #50b3e3;
    }
  }

}

.create-success-block {
  .sub-block {
    width: 580px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #cdcdcd;
    padding: 25px 30px 25px 30px;
  }

  .survey-links {
    a {
      text-decoration: underline;
    }
  }
}


.grey-button  {
  border-radius: 2px;
  background-color: #e4e4e4;
  color: #5a5a5a;
  padding: 8px 17px 10px 20px;
  margin-right: 17px;
  border:none;
}

.grey-button.highlight {
  background-color: #4a90e2;
  color: white;
}