#surveys_index {
  .container {
    padding-top: 34px;

    .surveys-container {
      width: 599px;
      height: 215px;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
      border: solid 1px #d9d9d9;
    }

    .activities-container {
      width: 360px;
      height: 126px;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
      border: solid 1px #d9d9d9;
    }
  }
  
  .btn {
    width: 199px;
    height: 44px;
    margin: 18px 0 0 66.1px ;
    border-radius: 4px;
    background-color: #19cb7f;
    box-shadow: 0 2px 2px 0 rgba(98, 98, 98, 0.5);
    color: white;
    font-size: 16px;
    border: none;
    line-height: 28px;
  }
}