// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome {
  color: white;
  width: 100%;
  min-height: 100%;
  background-image: url('welcome-bg.png');
  background-position: center;
  background-size: cover;
  padding: 40px;

  header {
    span {
      font-size: 16px;
    }
  }

  .welcome-content {
    margin-top: 20%;

    text-align: center;

    h1 {
      font-size: 65px;
    }
    .btn {
      margin-top: 50px;
      border: none;
      width: 390px;
      height: 50px;
      border-radius: 4px;
      background-color: #19cb7f;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      font-size: 26px;
    }

  }

}