<!DOCTYPE html>
<html>
<head>
  <title>Inspireinsights</title>
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= yield %>
    <div id="global-modal" class="modal fade" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog">
        <div id="inner-global-modal" class="modal-content"></div>
      </div>
    </div>
</body>
</html>
